<header class="header">
  <h3><strong>TIMECARD</strong><br/><span style="font-size: 20px;">Data Entry System</span></h3>
  <span>Welcome Andrew Hall!<br/>Monday June 23 2019<br/>
      
  </span>

  <!--<a href="#">Logout</a>-->
  <a routerLink="/login">Login</a>
</header>

<div class="row tabs">
    <button class="col-sm-3 maintabs" id="admintab" (click)="mainTabClick('admintab')">Administration</button>
    <button class="col-sm-3 maintabs" id="timecardtab" (click)='mainTabClick("timecardtab")'>Time Card</button>
    <button class="col-sm-3 maintabs" id="reportstab" (click)='mainTabClick("reportstab")'>Reports</button>
    <button class="col-sm-3" disabled></button>
</div>

<div style="height:100%" class="container-fluid fill">
  <div style="height:100%" class="row fill">
       <!--{{% if user.is_superuser %}}-->
      <div class="col-sm-2 col-xs-4 sidenav fill sidenavigation">
              <a href="#">Users</a>
              <a href="#">Master Data</a> 
      </div>



      
      <!--{{% elif not logged in %}}
      <div class="col-sm-2 col-xs-4 sidenav">

       </div>
      {{% endif %}}

      {{% block content %}}

      {{% if error_message %}}<p><strong>{{ error_message }}</strong></p>{% endif %}
      {{% endblock %}}-->
      <router-outlet></router-outlet>
  </div>
  
</div>

