<h1>View Time Card</h1>
<!-- <span style="font-size:20px;float:left;"><strong>Andrew Hall</strong></span><br>
<span style="position:absolute;left:15px;">Date Created:</span>
<span style="position:absolute;left:120px;">Date</span> 

<div class="calender">
<div class="month">     
    <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
        September<br>
        <span style="font-size:18px">2019</span>
    </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">  
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active">10</span></li>
    <li>11 got to movies</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
</ul>
</div>
 -->
<table>
    <thead>
        <th>Date</th>
        <th>Sector</th>
        <th>Location</th>
        <th>Time in</th>
        <th>Time out</th>
        <th>Hours Code</th>
        <th>Hours Worked</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let tc of timeCards">
            <td><a (click)="openEditForm(tc)">{{ tc.date }}</a></td>
            <td>{{ tc.sector }}</td>
            <td>{{ tc.location }}</td>
            <td>{{ tc.time_in | timeparse }}</td>
            <td>{{ tc.time_out | timeparse }}</td>
            <td>{{ tc.hours_code }}</td>
            <td>{{ tc.hours_worked }}</td>
            <td><button (click)="deleteTimeCard(tc)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div *ngIf="showtcForm">
    <form [formGroup]="timeCard" (ngSubmit)="onEditSubmit()">
        <label>
            Date: <input type="date" formControlName="date" required>
        </label><br>
    
        <label>
            Doctor's file number:
            <input type="number" formControlName="file_number" required>
        </label>
    
        <label>
            Sector:
            <select formControlName="sector" required>
                <option value="east">East</option>
                <option value="west">West</option>
            </select>
        </label><br>
    
        <label>
            Location: 
            <input type="text" formControlName="location" required>
        </label><br>
    
        <label>
            Time in:
            <input type="time" step="1800" formControlName="time_in" required>
        </label><br>
    
        <label>
            Time out:
            <input type="time" step="1800" formControlName="time_out" required>
        </label><br>
    
        <label>
            Hours code:
            <select formControlName="hours_code" required>
                <option value="AMCO">AMCO</option>
                <option value="FBP">FBP</option>        
            </select>
        </label><br>
    
        <button type="submit" [disabled]="!timeCard.valid">Submit</button>
    </form>
    
</div>