<h1>New Time Card</h1>
<div align="center" id="new-timecard">
<form [formGroup]="timeCard" (ngSubmit)="onSubmit()">
    <label>
        Date:<br> <input type="date" formControlName="date" required>
    </label>

    <label>
        Sector:<br>
        <select formControlName="sector" required>
            <option value="east">East</option>
            <option value="west">West</option>
        </select>
    </label>

    <label>
        Location:<br>
        <input type="text" formControlName="location" required>
    </label>

    <label>
        Time in:<br>
        <input type="time" step="1800" formControlName="time_in" required>
    </label>

    <label>
        Time out:<br>
        <input type="time" step="1800" formControlName="time_out" required>
    </label>

    <label>
        Hours code:<br>
        <select formControlName="hours_code" required>
            <option value="AMCO">AMCO</option>
            <option value="FBP">FBP</option>        
        </select>
    </label>

    <button align="left !important;" type="submit" [disabled]="!timeCard.valid">Submit</button>
</form>
</div>

